In [188]:
from sshtunnel import SSHTunnelForwarder
from sqlalchemy import create_engine
import pandas as pd

In [189]:
tunnel = SSHTunnelForwarder(('daphnis.uberspace.de', 22), ssh_password='Karolingerring38', ssh_username='cb1989',
     remote_bind_address=('127.0.0.1', 3306)) 
tunnel.start()
engine = create_engine('mysql+pymysql://cb1989:iephoo7zeechoh7u@127.0.0.1:'+str(tunnel.local_bind_port)+"/cb1989")

In [190]:
franz_wuerfe_alt = pd.read_sql(sql="wagnerwatch", con=engine)
franz_wuerfe_neu = pd.read_csv('franz_wuerfe_videos.csv')

neu = franz_wuerfe_alt.merge(franz_wuerfe_neu,indicator = True, how='left').loc[lambda x : x['_merge']!='both']
neu = neu.drop('_merge', 1)
neu
#neu.to_sql(name='wagnerwatch',con=engine,index=False, if_exists='append')

Empty DataFrame
Columns: [video, GAME_ID, GAME_EVENT_ID, GRID_TYPE, PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_NAME, PERIOD, MINUTES_REMAINING, SECONDS_REMAINING, EVENT_TYPE, ACTION_TYPE, SHOT_TYPE, SHOT_ZONE_BASIC, SHOT_ZONE_AREA, SHOT_ZONE_RANGE, SHOT_DISTANCE, LOC_X, LOC_Y, SHOT_ATTEMPTED_FLAG, SHOT_MADE_FLAG, GAME_DATE, HTM, VTM, SEASON, GAME_TYPE]
Index: []

[0 rows x 27 columns]

2022-01-11 22:27:44,813| ERROR   | Socket exception: Eine vorhandene Verbindung wurde vom Remotehost geschlossen (10054)